{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
<section class="container">
    <div class="row">
        <div class="col-lg-6">
            
        </div>
    </div>
</section>
{% endblock %}

