{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}
{% block body %}
<section class="container mt-3 mb-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header bg-dark">
                    <p class="h3 text-light text-center">Enregistrement patient</p>
                </div>
                <div class="card-body">        
                    {{form_start(form)}}
                        {{form_widget(form)}}
                        <hr>
                        <button class="btn btn-primary">
                            ENREGISTRER
                        </button>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}